  <div class="row post-bar">
      <label for="">Filter Posts:</label>
        <input type="text" ng-model="filterPosts"></input>
      <label for="">Sort By:</label>
        <select class="btn-primary dropdown-toggle" ng-model="searchTerm">
          <option value="title">Title</option>
          <option value="author">Author</option>
          <option value="date">Date</option>
          <option value="-votes">Votes</option>
        </select>
        <div class="pull-right">
          <button class="btn btn-warning add-post-btn" ng-click="formOpen=!formOpen">New Post</button>
        </div>
  </div>
  <div class="form-size" ng-show="formOpen" width-"60%">
    <div class="well">
    <form novalidate name="$ctrl.newPostForm" class="form-horizontal" ng-submit="$ctrl.addPost()">
        <fieldset>
            <legend>Add a New Post</legend>
            <div class="form-group" ng-class="{'has-error': $ctrl.post.title.$invalid}">
                <label for="title" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-8">
                    <input type="text" name="title" class="form-control" ng-model="$ctrl.post.title" ng-minlength=3 ng-maxlength=40 required>
                </div>
                <div class="error" ng-show="$ctrl.newPostForm.title.$dirty && $ctrl.newPostForm.title.$invalid">
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.title.$error.required">Title is Required</small>
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.title.$error.minlength">Your title must be at least three characters long</small>
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.title.$error.maxlength">Your title cannot be longer that 40 characters</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': $ctrl.post.author.$invalid}">
                <label for="author" class="col-lg-2 control-label">Author</label>
                <div class="col-lg-8">
                    <input type="text" name="author" class="form-control" ng-model="$ctrl.post.author" ng-minlength=3 ng-maxlength=40 required>
                </div>
                <div class="error" ng-show="$ctrl.newPostForm.author.$dirty && $ctrl.newPostForm.author.$invalid">
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.author.$error.required">Author is Required</small>
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.author.$error.minlength">Author must be at least three characters long</small>
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.author.$error.maxlength">Author name cannot be longer that 40 characters</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': $ctrl.post.description.$invalid}">
                <label for="description" class="col-lg-2 control-label">Description</label>
                <div class="col-lg-8">
                    <textarea class="form-control" name="description" rows="3" ng-model="$ctrl.post.description" ng-minlength=10 ng-maxlength=400 required></textarea>
                </div>
                <div class="error alert-danger" ng-show="$ctrl.newPostForm.description.$dirty && $ctrl.newPostForm.description.$invalid">
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.description.$error.required">Description is Required</small>
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.description.$error.minlength">Description must be at least ten characters long</small>
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.description.$error.maxlength">Description cannot be longer that 400 characters</small>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': $ctrl.post.image.$invalid}">
                <label for="image" class="col-lg-2 control-label">Image URL</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" ng-model="$ctrl.post.image" required>
                </div>
                <div class="error alert-danger" ng-show="$ctrl.newPostForm.image.$dirty && $ctrl.newPostForm.image.$invalid">
                  <small class="error alert-danger" ng-show="$ctrl.newPostForm.image.$error.required">Image URL is Required</small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-success" ng-click="formOpen = !formOpen" ng-disabled="$ctrl.newPostForm.$invalid">Create Post</button>
                </div>
            </div>
        </fieldset>
    </form>
  </div>
  </div>

  <div class="well" ng-repeat="post in $ctrl.posts | filter: filterPosts | orderBy: searchTerm">
    <div class="media-left">
      <img ng-src={{post.image}} height="200px" width="250px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{post.title}} |
        <a><i class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.upVote(post)" ng-min=0></i></a>
        {{post.votes}}
        <a><i class="glyphicon glyphicon-arrow-down" ng-click="$ctrl.downVote(post)"></i></a>
        </h4>
        <div class="">
          <div class="pull-right">
            {{post.author}}
          </div>
        </div>
      <p>{{post.description}}</p>

      <div class="text-left" >
      <span am-time-ago="post.date"></span> |
      <a><i class="glyphicon glyphicon-comment" ng-click="commentOpen=!commentOpen"></i></a>
      <ng-pluralize count="post.comments.length" when="{'0': '', '1': '1 comment', 'other': '{} comments'}"></ng-pluralize>
      </div>
      <div ng-show="commentOpen">
        <div ng-repeat="comment in post.comments">
          {{comment.text}}
        </div>
        <div class="form-size">
          <div class="well">
          <form class="form-horizontal" ng-submit="$ctrl.addComment(post)">
            <div class="form-group">
              <label for="comment" class="control-label">Enter your comment here:</label>
              <div class="col-lg-8">
                <textarea type="text" class="form-control" name="comment" rows="2" ng-model="$ctrl.newComment.text" required></textarea>
              <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                  <button type="submit" class="btn btn-success" ng-click="commentOpen = !commentOpen">Submit</button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="text-left">
      <button class="btn-xs btn-danger" ng-click="$ctrl.deletePost($event, post)">Delete Post</button>
    </div>
    </div>
  </div>
